* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Style */
body {
  background-color: #1a0b2e;
  width: screen;
  margin: 0px auto;
  text-align: center;
}

/* Shared Style */
.font_inter_sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn1_grad {
  background: linear-gradient(
    to top right,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  background-position: 100% 0;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 12.5px 16px;
  border-radius: 10000px;
  transition: 0.5s;
}

.btn1_grad:hover {
  background-position: 0 100%;
}

.btn2_grad {
  font-weight: 600;
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 12.5px 16px;
  border-radius: 10000px;
  transition: 0.5s;
  background: transparent;
}

.text_grad {
  background-image: linear-gradient(
    to top right,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_clr {
  color: #fff;
}

/* Navbar Style */

.navbar {
  width: 75%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}

.logo h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.nav_icon {
  display: none;
  font-size: 24px;
}

.nav_icon a {
  cursor: pointer;
}

/* Banner Style */

#banner {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner_container {
  width: 75%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 101px 0px;
}

.banner_img {
  background-image: url("../assets/hero-circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.banner_img img {
  padding: 50px 0px 80px;
}
.banner {
  position: relative;
}

.banner_btn {
  width: 70px;
  transform: translate(970%, 60%);
}

.banner_btn p {
  background-color: #00ff88;
  padding: 6px 0px;
  border-radius: 10000px;
  box-shadow: 0 3px 27px 0 #00ff88;
}

.banner_text {
  margin-top: 40px;
}

.banner_text h1 {
  font-size: 3.75rem;
  font-weight: bolder;
  margin-bottom: 8px;
}

.banner_text p {
  opacity: 80%;
}

.banner_text_btn {
  margin-top: 24px;
  gap: 8px;
}

/* About Section Style */
#about {
  width: 75%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px 0px 80px;

  border-bottom: 1px solid #565657;
}

.about_container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.about_container p {
  line-height: 30px;
  opacity: 80%;
}

.about_container h6 {
  font-size: 1rem;
  font-weight: normal;

  opacity: 80%;
}

/* Number Section Start */
.number_container {
  width: 75%;
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 80px 0px 120px;
}

.number_card h1 {
  color: #00ff88;
  font-size: 3rem;
  margin-bottom: 16px;
}

.number_card p {
  line-height: 20px;
  opacity: 80%;
  color: #fff;
}

/* Choose Section Style */
#choose {
  background-color: #230e3d;
}
.choose_container {
  width: 75%;
  max-width: 1200px;
  margin: 0px auto;
  text-align: center;
  padding: 120px 0px;
}

.choose_title h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.choose_card1 {
  grid-area: card1;
  padding: 107.5px 40px !important;
}

.choose_card2 {
  grid-area: card2;
}

.choose_card3 {
  grid-area: card3;
}

.choose_card4 {
  grid-area: card4;
}

.choose_card5 {
  grid-area: card5;
}

.choose_box {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";
  text-align: left;
}

.choose_card {
  padding: 40px;
  background-color: #35116562;
  border-radius: 40px;
}

.choose_card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 16px 0px;
}

.choose_card p {
  line-height: 24px;
  opacity: 40%;
}

/* Featured Section Style */
.featured {
  width: 75%;
  max-width: 1200px;
  margin: 0px auto;
  text-align: center;
  padding: 120px 0px;
}

.featured_title h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.featured_container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.featured_card {
  border-radius: 24px;

  background-color: #250d44;
}

.featured_text {
  text-align: left;
  padding: 24px;
}

.featured_text h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.featured_text p {
  font-size: 1rem;
  line-height: 24px;
  padding: 12px 0px;
  opacity: 40%;
}

.featured_time {
  display: flex;
  align-items: center;
  gap: 6px;
}

.featured_time h6 {
  font-size: 1rem;
  line-height: 24px;
  color: #00ff88;
}

.youtube_video {
  width: 380px;
  height: 214px;
  border: none;
  margin-bottom: -5px;
  border-radius: 24px 24px 0px 0px;
}

/* Host Section Style */
.host_conatiner {
  width: 75%;
  max-width: 1200px;
  margin: 0px auto;
  text-align: center;
  padding-bottom: 120px;
}

.host_title h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.host_box {
  display: flex;
  padding: 48.5px 40px;
  background-color: #35116562;
  border-radius: 40px;
  text-align: left;
  gap: 24px;
}

.host_text h3 {
  font-size: 2rem;
  font-weight: bold;
}

.host_text p {
  line-height: 24px;
  opacity: 40%;
  padding: 16px 0px;
}

.host_icon {
  display: flex;
  gap: 8px;
}

.host_icon_img {
  border: 1px solid #533c72;
  border-radius: 100%;
  padding: 10px 10px 4px 10px;
}

/* Footer Section Style */
footer {
  background-image: url("../assets/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer_container {
  width: 550px;
  margin: 0px auto;
  padding: 120px 0px;
}

.footer_title h1 {
  font-size: 5rem;
}

.podcast {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}

.podcast_card {
  display: flex;
  gap: 8px;
}

.podcast_card p {
  font-size: 1rem;
  font-weight: 500;
  opacity: 50%;
}

.footer_copyright p {
  font-size: 1rem;
  line-height: 24px;
  opacity: 50%;
}

@media (max-width: 576px) {
  body {
    width: 100%;
  }

  .about_text {
    display: inline;
  }

  .banner_btn {
    width: 70px;
    transform: translate(470%, 60%);
  }

  #about {
    width: 90%;
    padding: 40px 0px;
  }

  .navbar,
  .banner_container,
  .number_container,
  .choose_container,
  .featured,
  .host_conatiner {
    width: 90%;
  }

  /* Navbar Section Style */
  .menu ul {
    display: none;
  }

  .nav_icon {
    display: block;
  }

  .nav_button {
    display: none;
  }
  /* Banner Section Style */

  .banner_text {
    margin-top: 24px;
  }

  .banner_text h1 {
    font-size: 2.7.5rem;
    font-weight: bolder;
    margin-bottom: 8px;
  }

  .banner_text p {
    font-size: 1.3rem;
    padding: 8px 0px 24px;
    opacity: 80%;
  }

  .banner_text_btn {
    margin-top: 24px;
    gap: 8px;
  }

  /* About Section Style */

  .about_container h1 {
    font-size: 2.75rem;
  }

  .about_container p {
    line-height: normal;
    font-size: 1.22rem;
  }

  /* .about_container h6 {
    margin-top: 15px;
    font-size: 1.2rem;
  } */

  /* Number Section Style */
  .number_container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Choose Container Section */
  .choose_container {
    padding: 40px 0px;
  }

  .choose_title h1 {
    font-size: 2.6rem;
  }

  .choose_box {
    gap: 16px;
  }

  .choose_card1 {
    padding: 40px !important;
  }
  .choose_box {
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5";
  }

  /* featured section style */
  .featured {
    padding: 40px 0px 60px;
  }

  .featured_title h1 {
    margin-bottom: 24px;
    font-size: 2.75rem;
  }

  .featured_container {
    grid-template-columns: 1fr;
  }

  .youtube_video {
    width: 515px;
    height: 300px;
  }

  /* Host Section Style */
  .host_box {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .host_text p {
    font-size: 1.26rem;
  }

  .host_icon {
    justify-content: center;
  }

  .host_conatiner {
    padding-bottom: 40px;
  }

  /* Footer Section Style */

  footer {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .footer_container {
    padding: 0px 0px;
  }

  .podcast_card {
    display: flex;
    gap: 8px;
  }

  .podcast_card p {
    font-size: 1rem;
    font-weight: 500;
    opacity: 50%;
  }
}
